@mixin container() {
  width: 100%;
  max-width: 900px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.l-content {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  margin: 0 auto;
}

.c-container {
  @include container;
}
